.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 530px;
  max-width: 530px;
  min-height: 600px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;

  @include s-d {
    width: 100%;
    height: 50%;
  }

  @include xs-d {
    width: 100%;
    height: 100%;
  }

  .img-container {
    width: 100%;
    height: 65%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
  }

  .text-container {
    padding: 20px;
    line-height: 1.4;
    .title {
      @include title;
      text-align: left;
      color: $blue;
    }

    .sub-text {
      color: $grey;
      font-weight: bold;
      font-size: $main-s;
      padding-bottom: 6px;

      @include Lato;
    }

    .mission {
      font-size: $sub-s + 2;
      color: $red;
      font-weight: 400;
      padding-bottom: 6px;
    }
    .description {
      padding: 6px 0px;
      @include Raleway;
      color: $grey-light;
      font-size: $main-s - 1;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .go-to {
    position: absolute;
    left: 20px;
    bottom: 30px;
    color: $red;

    @include xs-d {
      bottom: 50px;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .sorry {
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: $red;
    color: black;
    font-size: $sub-s;

    @include xs-d {
      bottom: 20px;
    }
  }

  .close {
    position: absolute;
    right: 32px;
    bottom: 35px;
    width: 12px;
    height: 12px;
    opacity: 0.6;

    @include xs-d {
      bottom: 55px;
    }
  }
  .close:hover {
    opacity: 1;
    cursor: pointer;
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 20px;
    width: 2px;
    background-color: $red;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}
